footer.sticky-footer {
    padding: 1rem 0;
    flex-shrink: 0;
    bottom: 0;
    position: fixed;
    right: 0;
	left:0;
	color: #adb5bd;
}

.meta-chat {
	padding: 5px 10px;
	font-size: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.isi-chat {
	padding: 5px 10px 0px 10px;
	font-size: 12px;
}


@media (max-width: 768px) {
	.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
		position: relative;
		bottom: 40px;
		top: 0px;
	}
}

.badge {
	padding: 7px 10px;
    text-transform: uppercase;
}

.text-warning {
    color: orange!important;
}

.badge-warning {
    color: #fff;
    background-color: orange;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

form.user .form-control-user {
	font-size: .8rem;
	border-radius: 5px;
	padding: 5px 10px;
}

.bg-register-image {
    background: url('images/register.jpg');
	background-position: 50%;
    background-size: cover;
}

.bg-login-image {
    background: url('images/login.jpg');
    background-position: 50%;
    background-size: cover;
}

.bg-gradient-primary {
    background-color: #643bbd;
    background-image: linear-gradient(180deg ,#643bbd 10%,#651480 100%);
    background-size: cover;
}
.bg-warning {
    background-color: #f39c12 !important;
}
.bg-gradient-info {
	background-color: #36b9cc;
    background-image: linear-gradient(180deg,#36b9cc 10%,#258391 100%);
    background-size: cover;
    border-radius: 0.25rem;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border-radius: 5px;
    margin-bottom: 15px;
}

.info-box-icon {
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
	padding-top: 20px;
    color: #fff;
}
.info-box-content {
    padding: 20px;
    margin-left: 90px;
	color: #fff;
}
.info-box-content {
    text-transform: uppercase;
}

.info-box-content a {
    color: #fff;
	text-decoration: none;
}

.info-box-content a:hover {
    color: #3490dc;
	text-decoration: none;
}

.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0;
}
.info-box .progress {
    background: rgba(0,0,0,0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
}
.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.small-box {
    border-radius: 5px;
    position: relative;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.small-box h3 {
	font-size: 20px;
	font-weight:700;
	text-transform: uppercase;
	z-index: 5;
	color: #fff;
}

.small-box p {
    font-size: 17px;
	color: #fff;
	text-align: center;
	z-index: 5;
	font-weight:700;
}

.small-box>.inner {
    padding: 15px;
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 0;
    font-size: 70px;
    color: rgb(255 255 255 / 30%);
}

.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
}

.bg-purple {
	border: 1px solid #884FFB;
    background: #884FFB;
	color: #fff!important;
}

.bg-admin {
	background: #F5F6FF;
	color: #676B84!important;
}


/*==== Chat Box ====*/

.user-chat {
	margin-bottom:20px;
	display: flex;
	align-items: center;
}

.user-chat .img-profile {
	height: 3rem;
	width: 3rem;
}

.user-chat .comment-info {
	padding-left: 10px;
}

.user-chat .comment-info h4 {
	font-size:16px;
	font-weight:500;
	color:#222222;
	margin-bottom:2px;
}

.user-chat .comment-info p {
	font-size: 12px;
    font-weight: 300;
    color: #676B84;
    margin-bottom: 0;
}

/*=== Custom Profile ===*/
.custom-card {
    overflow: hidden;
    padding: 30px;
}
.custom-card.card {
    margin-bottom: 30px;
    border: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 37px rgb(8 21 66 / 5%);
    box-shadow: 0 0 37px rgb(8 21 66 / 5%);
    border: none !important;
}
.custom-card.card .card-header {
    background-color: #fff;
    padding: 0px;
    border-bottom: 1px solid #ecf3fa;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}
.custom-card.card .card-header img {
    border-radius: 50%;
    margin-top: -100px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.custom-card.card .card-profile {
    text-align: center;
}
.custom-card .card-profile img {
    height: 150px;
    padding: 7px;
    background-color: #fff;
    z-index: 1;
    position: relative;
}
.custom-card .card-social {
    text-align: center;
}
.custom-card .card-social li {
    display: inline-block;
    padding: 15px 0;
}
.custom-card .card-social li a {
    padding: 13px;
    color: #bcc6de;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.custom-card .profile-details h4 {
    text-transform: uppercase;
}
.custom-card .profile-details h6 {
    margin-bottom: 30px;
    margin-top: 10px;
    color: rgba(43, 43, 43, 0.7);
    font-size: 14px;
}
.custom-card .card-footer {
    padding: 0;
    background-color: #fff;
    border-top: 1px solid #ecf3fa;
    padding: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.custom-card .card-footer > div {
    padding: 15px;
    text-align: center;
}
.custom-card .card-footer > div + div {
    border-left: 1px solid #efefef;
}
.custom-card .card-footer > div h6 {
    font-size: 14px;
    color: rgba(43, 43, 43, 0.7);
}
.custom-card .card-footer > div h3 {
    margin-bottom: 0;
    font-size: 24px;
}

/* === Background Color == */
.bg-warm-flame {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%) !important;
}
.bg-night-fade {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%) !important;
}
.bg-sunny-morning {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%) !important;
}
.bg-tempting-azure {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%) !important;
}
.bg-amy-crisp {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%) !important;
}
.bg-heavy-rain {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%) !important;
}
.bg-mean-fruit {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%) !important;
}
.bg-malibu-beach {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%) !important;
}
.bg-deep-blue {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%) !important;
}
.bg-ripe-malin {
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%) !important;
}
.bg-arielle-smile {
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%) !important;
}
.bg-plum-plate {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
}
.bg-happy-fisher {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%) !important;
}
.bg-happy-itmeo {
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%) !important;
}
.bg-mixed-hopes {
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%) !important;
}
.bg-strong-bliss {
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%) !important;
}
.bg-grow-early {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%) !important;
}
.bg-love-kiss {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%) !important;
}
.bg-premium-dark {
    background-image: linear-gradient(to right, #434343 0%, black 100%) !important;
}
.bg-happy-green {
    background-image: linear-gradient(to bottom, #00b09b, #96c93d) !important;
}
.bg-vicious-stance {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%) !important;
}
.bg-midnight-bloom {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%) !important;
}
.bg-night-sky {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%) !important;
}
.bg-slick-carbon {
    background-image: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%) !important;
    background-blend-mode: multiply;
}
.bg-sunset {
    background-image: linear-gradient(to top, #ff7601 0%, #f5a542 100%) !important;
}
.bg-royal {
    background-image: linear-gradient(to right, #141e30, #243b55) !important;
}
.bg-asteroid {
    background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364) !important;
}
.bg-transparent {
    background: transparent !important;
}

ul ol ul {
    list-style-type: disc!important;
}

@media (min-width: 768px) {
	.sidebar .nav-item .nav-link {
		padding: 0.8rem 1rem!important;
	}
}



